@model PortalEducacao.ViewModels.IesData

@{ var ajaxOpt = new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tabelaIes" };}

<div class="course-finder-full clearfix">

    <div class="course-finder-icon"></div>
    <div class="course-finder-full-form">

        @using (Ajax.BeginForm("Index", "Ies", new { sortOrder = ViewBag.currentSort }, ajaxOpt, htmlAttributes: new { id = "fomrFilter" }))
        {
            <input type="text" name="busca" id="busca" onkeyup="$(this.form).submit();" />
            @Html.DropDownListFor(model => model.RegiaoID, Model.RegiaoLista, "Regiões", new { onchange = "$(this.form).submit();" })
            @Html.DropDownListFor(model => model.UFID, Model.UFLista, "UFs", new { onchange = "$(this.form).submit();" })
        }
    </div>
</div>

<div id="tabelaIes">
    @Html.Partial("_tabelaIes", Model.Iess)
</div>

