<!-- BEGIN .slider -->
<div class="slider clearfix">

    <ul class="slides slide-loader">

        <li style="background: url(images/01_slide_image.png) no-repeat bottom center">

            <div class="flex-caption-wrapper">
                <div class="flex-caption">
                    <p>Encontre o curso</p>
                    <div class="clearboth"></div>
                    <p>certo para você.</p>
                </div>
            </div>

        </li>

        <li style="background: url(images/01_slide_image.png) no-repeat bottom center">

            <div class="flex-caption-wrapper">
                <div class="flex-caption">
                    <p>Supposing is good,</p>
                    <div class="clearboth"></div>
                    <p>but finding out is better.</p>
                </div>
            </div>

        </li>

        <li style="background: url(images/01_slide_image.png) no-repeat bottom center">&nbsp;
			</li>

    </ul>

    <!-- END .slider -->
</div>

<div class="header-block-wrapper clearfix">

    <div class="header-block-inner">

        <a href="#" class="header-block-5 header-block-style-1 clearfix">
            <img src="images/header_icon_01.png" alt="" />
            <h2>Nossos Serviços</h2>
        </a>

        <a href="#" class="header-block-5 header-block-style-2 clearfix">
            <img src="images/header_icon_02.png" alt="" />
            <h2>Fale Conosco</h2>
        </a>

        <a href="#" class="header-block-5 header-block-style-3 clearfix">
            <img src="images/header_icon_03.png" alt="" />
            <h2>Vai saber1</h2>
        </a>

        <a href="#" class="header-block-5 header-block-style-4 clearfix">
            <img src="images/header_icon_04.png" alt="" />
            <h2>Vai saber 2</h2>
        </a>

        <a href="#" class="header-block-5 header-block-style-5 clearfix">
            <img src="images/header_icon_05.png" alt="" />
            <h2>Vai saber 3</h2>
        </a>

    </div>

</div>
